body{
    margin-top: 100px;
}


ul li {
    list-style: none;
}


.todo-item {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem;
  }
  
  .todo-item button {
    margin-left: auto;
  }
  
  .todo-item:hover .delete-button {
    opacity: 1 !important;
    transition: opacity 0.2s ease-in-out;
  }
  
  .delete-button {
    transition: opacity 0.2s ease-in-out;
  }
  
  .todo-item:hover {
    background-color: #f8f9fa;
  }